<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/style.css">
    <title>Grid Auto layout System Page</title>
  </head>
  <body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-xl-8 bg1">
                <h1>Product One</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, hic. Numquam nostrum necessitatibus minima corporis magnam omnis animi ut perferendis consequuntur nihil veritatis dolore aperiam reprehenderit voluptatibus, quidem modi asperiores.</p>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-xl-4 bg2">
                <h1>Product Two</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, hic. Numquam nostrum necessitatibus minima corporis magnam omnis animi ut perferendis consequuntur nihil veritatis dolore aperiam reprehenderit voluptatibus, quidem modi asperiores.</p>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-xl-12 bg4">
                <h1>Product Three</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, hic. Numquam nostrum necessitatibus minima corporis magnam omnis animi ut perferendis consequuntur nihil veritatis dolore aperiam reprehenderit voluptatibus, quidem modi asperiores.</p>
            </div>
        </div>
    </div>

    <!-- <div class="conatiner-fluid">
        <div class="row">
            <div class="col-md-8 bg2">
                <h1>Product Four</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, hic. Numquam nostrum necessitatibus minima corporis magnam omnis animi ut perferendis consequuntur nihil veritatis dolore aperiam reprehenderit voluptatibus, quidem modi asperiores.</p>
            </div>
            <div class="col-md-4 bg4">
                <h1>Product Five</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, hic. Numquam nostrum necessitatibus minima corporis magnam omnis animi ut perferendis consequuntur nihil veritatis dolore aperiam reprehenderit voluptatibus, quidem modi asperiores.</p>
            </div>
        </div>
    </div>

    <div class="conatiner">
        <div class="row">
            <div class="col-xl-2 bg3">
                <h1>Product Six</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, hic. Numquam nostrum necessitatibus minima corporis magnam omnis animi ut perferendis consequuntur nihil veritatis dolore aperiam reprehenderit voluptatibus, quidem modi asperiores.</p>
            </div>
            <div class="col-xl-8 bg1">
                <h1>Product Seven</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, hic. Numquam nostrum necessitatibus minima corporis magnam omnis animi ut perferendis consequuntur nihil veritatis dolore aperiam reprehenderit voluptatibus, quidem modi asperiores.</p>
            </div>
            <div class="col-xl-2 bg2">
                <h1>Product Eight</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, hic. Numquam nostrum necessitatibus minima corporis magnam omnis animi ut perferendis consequuntur nihil veritatis dolore aperiam reprehenderit voluptatibus, quidem modi asperiores.</p>
            </div>
        </div>
    </div> -->


    <script src="../js/jquery-3.5.1.slim.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
  </body>
</html>
